// 0126 履歷demo
body {
  margin: auto;
}
.cover-r {
  width: 100%;
  height: 50vh;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center;
}
.cover-l {
  width: 100%;
  height: 50vh;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center;
}
.cover_h1 {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 0;
  right: 400px;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 4.6em;
  z-index: 100;
}
.cover_h1_phone {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 0;
  // right: 400px;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 2.6em;
  z-index: 100;
  
}

.cover_h2 {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 400px;
  right: 0;
  margin: auto;
  color: red;
  text-align: center;
  font-size: 4.6em;
  z-index: 100;
  mix-blend-mode: overlay;
}

.cover_h2:hover {
  mix-blend-mode: initial;
  color: #d89c33;
}
