/* body{
  background-color:blue ;
} */

.container {
width: 50%;
  height: 20rem;
  background: #1b2dff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 25%;
}
h1{
  color: white;
  text-align: center;
}
label{
  color: white;
}
input{
    width: 80%;
      margin-top: 1rem;
      border-radius: 10px;
}
button{
border-radius: 20px;
  width: 88%;
  margin-top: 1rem;
  background-color: #f02929;
  color: aliceblue;
}

button:hover {
border-radius: 20px;
  width: 88%;
  margin-top: 1rem;
  background-color: #232323;
  color: aliceblue;
}
div{
text-align: center;
  margin-bottom: 1rem;
}