.container{
  margin: auto;
  text-align: center;
}
.img-r{
  width: 300px;
  height: 200px;
  margin: 0 0 0 12px;
  border: 1px solid black;
}
.img-l{
    width: 200px;
      height: 200px;
      margin: 0 12px 0 0;
  border: 1px solid black;
}
.margin-t{
  margin: 36px 0 0 0;
  height: 100px;
  display: grid;
  place-items: center;
  border: 1px solid black;
}
.input-t {
  margin: 0 18px 0 0;
  height: 20px;
  width: 100%;
  text-align: center;
  border: 1px solid black;
}
.fle{
display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 36px 0 0 0;
  align-items: flex-start;
}
.btn{
  width: 120px;
  height: 20px;
}
