<!-- <style>
  table,
  th {
    border: 1px solid black;

  }

  table {
    border-collapse: collapse;
  }

  /* Flex 排版設定 */
  .container {
    display: flex;
    gap: 40px;
    /* 左右兩欄的間距 */
    max-width: 1000px;
    margin: 0 auto;
    /* 網頁居中 */
    padding: 20px;
  }

  .left-column,
  .right-column {
    flex: 1;
    /* 讓左右兩邊平分寬度 */
  }
</style>

<h1>HTML練習</h1>

<br>
<hr>
<textarea name="tex" id="tex">我是文字輸入框(可以拉大)</textarea>
<ul>
  <li><input type="text"></li>
  <li><input type="checkbox"></li>
</ul>
<ol>
  <li><input type="file" name="" id=""></li>
  <li><input type="radio" name="te" id="te"></li>
</ol>

<button>我是按鈕Button</button>
<br>
<hr>
<img src="https://picsum.photos/1500/200" alt="">
<br>
<hr>

<table>
  <thead>
    <th>姓名</th>
    <th>數學</th>
    <th>英文</th>
  </thead>
  <tbody>
    <tr>
      <th>小明</th>
      <th>92</th>
      <th>70</th>
    </tr>
    <tr>
      <th>大明</th>
      <th>95</th>
      <th>78</th>
    </tr>
  </tbody>

</table>



<div class="container">
  <div class="left-column">
    <h1>王大明</h1>
    <p>嗨，我是一個正在學習HTML的新手</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCXf8Upd6mHTvMGscOxbwpNKuOj6M5v8ATLQ&s" alt="">
    <br>
    <h1>關於我</h1>
    <p>我喜歡寫程式、看漫畫，還有玩電腦遊戲。</p>
    <h1>我的興趣</h1>
    <ul>
      <li>學習網頁設計</li>
      <li>打籃球</li>
      <li>旅行</li>
    </ul>
    <br>
  </div>
  <div class="right-column">
    <h1>聯絡我</h1>
    <p>Email:<a href="mailto:test@example.com">test&#64;example.com</a></p>
    <p>喜歡的網站: <a href="http://google.com" target="_blank">Google</a></p>
    <br>
    <h1>我的作品</h1>
    <table>
      <thead>
        <th>專案名稱</th>
        <th>簡介</th>
      </thead>
      <tbody>
        <tr>
          <th>個人名片網頁</th>
          <th>用純HTML做的第一個作品!</th>
        </tr>
        <tr>
          <th>帶完成的專案</th>
          <th>持續增加中...</th>
        </tr>
      </tbody>
    </table>
    <br>
    <h1>留言給我</h1>
    <form action="">
      <label for="name">姓名:</label>
      <input type="text" name="name" id="name">
      <br>
      <br>
      <label for="context">留言:</label>
      <textarea name="context" id="context"></textarea>
      <br>
      <button type="submit">送出</button>
    </form>
  </div>
</div> -->




<!-- <div class="container">
  <h1>登入系統</h1>
  <form action="">
    <div>
      <label for="account">帳號:</label>
      <input type="text" name="account" id="account" />
    </div>

    <br>
    <div>
      <label for="password">密碼:</label>
      <input type="password" name="password" id="password" />
    </div>

    <br>
    <button type="submit">送出</button>


  </form>
</div> -->

<!-- 練習一下面 0122-->
<!-- <div class="container">

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRymmjw-tl0zP-m2cCgfXWMRrMad3ywEhPd9Q&s" alt=""
    class="img-l">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUvHzbsDJXLAzhZUGk4sunE6XfMqwWeOUGKQ&s" alt=""
    class="img-r">
  <div class="margin-t">div</div>
  <div class="fle">
    <input class="input-t" type="text"/>

    <button class="btn">text</button>

  </div>
</div> -->

<!-- 練習0123 -->
<!-- <div class="container">
  <div class="test"></div>
  <div class="square"></div>
</div> -->

<!-- 上面 -->
<!-- <div class="  d-flex   justify-content-center" style="height: 80px;">
  <div class=" bg-danger d-flex justify-content-center  h-auto"  style="width: 80px;">test1</div>
  <div class=" bg-primary d-flex align-self-end ">test2</div>
  <div class=" bg-dark d-flex align-self-center ms-2 " style="color: aliceblue;">test3</div>
  <div class=" bg-success d-flex align-self-start ms-2">test4</div>
  <div class=" bg-danger d-flex justify-content-center  h-auto" style="width: 80px;">test5</div>
</div>-->
<!-- ----------------------------------------------------------------------------------------------- -->
<!-- 下面 -->
<!-- <div class="d-flex w-auto  mt-3 justify-content-center" style="height: 80px;">
    <div class=" bg-danger d-flex justify-content-center  h-auto" style="width: 80px;">test5</div>
    <div class=" bg-success d-flex align-self-start ">test4</div>
    <div class=" bg-dark d-flex align-self-center ms-2" style="color: aliceblue;">test3</div>
    <div class=" bg-primary d-flex align-self-end ms-2">test2</div>
    <div class=" bg-danger d-flex justify-content-center  h-auto" style="width: 80px;">test1</div>
</div>  -->
  <!-- <div class="test2"></div> -->
<!-- 0123 -->
<!-- ------------------------------------------------------------------------------------------------ -->
<!-- 0126 -->
  <!-- <div class="box">
  
    <div class="black-square"></div>
    <div class="orange-square"></div>
    <div class="green-square"></div>
  
  </div>
  <div class="card">
    <p class="test">x</p>
  </div> -->

  <!-- 0126 履歷demo -->
  <section id="topImg">
    <div class=" d-flex ">
      <img
        src="https://img.freepik.com/free-photo/fuji-mountain-kawaguchiko-lake-morning-autumn-seasons-fuji-mountain-yamanachi-japan_335224-102.jpg?semt=ais_user_personalization&w=740&q=80"
        alt="" class="cover-r">
      <h1 class="cover_h1">Welcome to </h1>
      <img src="https://img.travel4u.com.tw/tourimg/jp/hokkaido/main/SPK-Hakodate-001.jpg" alt="" class="cover-l">
      <h2 class="cover_h2">my resume</h2>
  
    </div>
  
  </section>
  <section id="resume">
    <div class="container text-center ">
      <h1 class=" text-primary">Profile</h1>
      <img
        src="https://readme-typing-svg.demolab.com/?font=JetBrains+Mono&size=30&duration=3000&pause=1000&color=fffffff&center=true&width=1000&lines=%E8%A1%8C%E5%8B%95%E6%98%AF%E6%88%90%E5%8A%9F%E7%9A%84%E5%9F%BA%E7%A4%8E%EF%BC%8C%E6%B2%92%E6%9C%89%E8%A1%8C%E5%8B%95%EF%BC%8C%E4%B8%80%E5%88%87%E9%83%BD%E6%98%AF%E7%A9%BA%E8%AB%87%E3%80%82-+%E6%B4%9B%E5%85%8B%E8%8F%B2%E5%8B%92"
        alt="名言" />
      <hr>
      <div class="d-flex w-100 align-items-center">
        <div class="flex-fill text-center w-100">
          <h1>Info.</h1>
          <ul style="padding: 0px ; list-style-position: inside; ">
            <li>姓名:張立杰</li>
            <li>年齡:23</li>
            <li>樹德科技大學資訊工程系畢業(2021~2025)</li>
            <li><a href="https://github.com/ZhangZJ0906" target="_blank">作品集</a></li>
          </ul>
        </div>
        <div class="vr mx-3 bg-dark"></div>
  
        <div class="flex-fill text-center w-100">
          <h1>About Me</h1>
          <p>(假)我是一名熱愛寫程式的工程師，喜歡運用程式解決身邊的大小事。最近研究的領域有前後端。希望透過資工系所學的資訊，結合網頁技術解決現有的技術問題，做出真正貼近生活的應用。</p>
        </div>
  
      </div>
  
    </div>
  
  
  </section>
<router-outlet />