<!-- <style>
  table,
  th {
    border: 1px solid black;

  }

  table {
    border-collapse: collapse;
  }

  /* Flex 排版設定 */
  .container {
    display: flex;
    gap: 40px;
    /* 左右兩欄的間距 */
    max-width: 1000px;
    margin: 0 auto;
    /* 網頁居中 */
    padding: 20px;
  }

  .left-column,
  .right-column {
    flex: 1;
    /* 讓左右兩邊平分寬度 */
  }
</style>

<h1>HTML練習</h1>

<br>
<hr>
<textarea name="tex" id="tex">我是文字輸入框(可以拉大)</textarea>
<ul>
  <li><input type="text"></li>
  <li><input type="checkbox"></li>
</ul>
<ol>
  <li><input type="file" name="" id=""></li>
  <li><input type="radio" name="te" id="te"></li>
</ol>

<button>我是按鈕Button</button>
<br>
<hr>
<img src="https://picsum.photos/1500/200" alt="">
<br>
<hr>

<table>
  <thead>
    <th>姓名</th>
    <th>數學</th>
    <th>英文</th>
  </thead>
  <tbody>
    <tr>
      <th>小明</th>
      <th>92</th>
      <th>70</th>
    </tr>
    <tr>
      <th>大明</th>
      <th>95</th>
      <th>78</th>
    </tr>
  </tbody>

</table>



<div class="container">
  <div class="left-column">
    <h1>王大明</h1>
    <p>嗨，我是一個正在學習HTML的新手</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCXf8Upd6mHTvMGscOxbwpNKuOj6M5v8ATLQ&s" alt="">
    <br>
    <h1>關於我</h1>
    <p>我喜歡寫程式、看漫畫，還有玩電腦遊戲。</p>
    <h1>我的興趣</h1>
    <ul>
      <li>學習網頁設計</li>
      <li>打籃球</li>
      <li>旅行</li>
    </ul>
    <br>
  </div>
  <div class="right-column">
    <h1>聯絡我</h1>
    <p>Email:<a href="mailto:test@example.com">test&#64;example.com</a></p>
    <p>喜歡的網站: <a href="http://google.com" target="_blank">Google</a></p>
    <br>
    <h1>我的作品</h1>
    <table>
      <thead>
        <th>專案名稱</th>
        <th>簡介</th>
      </thead>
      <tbody>
        <tr>
          <th>個人名片網頁</th>
          <th>用純HTML做的第一個作品!</th>
        </tr>
        <tr>
          <th>帶完成的專案</th>
          <th>持續增加中...</th>
        </tr>
      </tbody>
    </table>
    <br>
    <h1>留言給我</h1>
    <form action="">
      <label for="name">姓名:</label>
      <input type="text" name="name" id="name">
      <br>
      <br>
      <label for="context">留言:</label>
      <textarea name="context" id="context"></textarea>
      <br>
      <button type="submit">送出</button>
    </form>
  </div>
</div> -->




<!-- <div class="container">
  <h1>登入系統</h1>
  <form action="">
    <div>
      <label for="account">帳號:</label>
      <input type="text" name="account" id="account" />
    </div>

    <br>
    <div>
      <label for="password">密碼:</label>
      <input type="password" name="password" id="password" />
    </div>

    <br>
    <button type="submit">送出</button>


  </form>
</div> -->

<!-- 練習一下面 0122-->
<!-- <div class="container">

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRymmjw-tl0zP-m2cCgfXWMRrMad3ywEhPd9Q&s" alt=""
    class="img-l">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUvHzbsDJXLAzhZUGk4sunE6XfMqwWeOUGKQ&s" alt=""
    class="img-r">
  <div class="margin-t">div</div>
  <div class="fle">
    <input class="input-t" type="text"/>

    <button class="btn">text</button>

  </div>
</div> -->

<!-- 練習0123 -->
<!-- <div class="container">
  <div class="test"></div>
  <div class="square"></div>
</div> -->

<!-- 上面 -->
<!-- <div class="  d-flex   justify-content-center" style="height: 80px;">
  <div class=" bg-danger d-flex justify-content-center  h-auto"  style="width: 80px;">test1</div>
  <div class=" bg-primary d-flex align-self-end ">test2</div>
  <div class=" bg-dark d-flex align-self-center ms-2 " style="color: aliceblue;">test3</div>
  <div class=" bg-success d-flex align-self-start ms-2">test4</div>
  <div class=" bg-danger d-flex justify-content-center  h-auto" style="width: 80px;">test5</div>
</div>-->
<!-- ----------------------------------------------------------------------------------------------- -->
<!-- 下面 -->
<!-- <div class="d-flex w-auto  mt-3 justify-content-center" style="height: 80px;">
    <div class=" bg-danger d-flex justify-content-center  h-auto" style="width: 80px;">test5</div>
    <div class=" bg-success d-flex align-self-start ">test4</div>
    <div class=" bg-dark d-flex align-self-center ms-2" style="color: aliceblue;">test3</div>
    <div class=" bg-primary d-flex align-self-end ms-2">test2</div>
    <div class=" bg-danger d-flex justify-content-center  h-auto" style="width: 80px;">test1</div>
</div>  -->
  <div class="test2"></div>

<!-- ------------------------------------------------------------------------------------------------ -->

<router-outlet />