/* body{
//   background-color:blue ;
// } */

// .container {
//   width: 50%;
//   height: 20rem;
//   background: #1b2dff;
//   padding-top: 1rem;
//   padding-bottom: 1rem;
//   margin-left: 25%;
// }

// h1 {
//   color: white;
//   text-align: center;
// }

// label {
//   color: white;
// }

// input {
//   width: 80%;
//   margin-top: 1rem;
//   border-radius: 10px;
// }

// button {
//   border-radius: 20px;
//   width: 88%;
//   margin-top: 1rem;
//   background-color: #f02929;
//   color: aliceblue;
// }

// button:hover {
//   border-radius: 20px;
//   width: 88%;
//   margin-top: 1rem;
//   background-color: #232323;
//   color: aliceblue;
// }

// div {
//   text-align: center;
//   margin-bottom: 1rem;
// }// 

// 練習一 下面
.container {
  margin: auto;
  text-align: center;
}

.img-r {
  width: 300px;
  height: 200px;
  margin: 0 0 0 12px;
  border: 1px solid black;
}

.img-l {
  width: 200px;
  height: 200px;
  margin: 0 12px 0 0;
  border: 1px solid black;
}

.margin-t {
  margin: 36px 0 0 0;
  height: 100px;
  display: grid;
  place-items: center;
  border: 1px solid black;
}

.input-t {
  margin: 0 18px 0 0;
  height: 20px;
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

.fle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 36px 0 0 0;
  align-items: flex-start;
}

.btn {
  width: 120px;
  height: 20px;
}