/* body{
//   background-color:blue ;
// } */

// .container {
//   width: 50%;
//   height: 20rem;
//   background: #1b2dff;
//   padding-top: 1rem;
//   padding-bottom: 1rem;
//   margin-left: 25%;
// }

// h1 {
//   color: white;
//   text-align: center;
// }

// label {
//   color: white;
// }

// input {
//   width: 80%;
//   margin-top: 1rem;
//   border-radius: 10px;
// }

// button {
//   border-radius: 20px;
//   width: 88%;
//   margin-top: 1rem;
//   background-color: #f02929;
//   color: aliceblue;
// }

// button:hover {
//   border-radius: 20px;
//   width: 88%;
//   margin-top: 1rem;
//   background-color: #232323;
//   color: aliceblue;
// }

// div {
//   text-align: center;
//   margin-bottom: 1rem;
// }//

// 練習一 下面 0122
// .container {
//   margin: auto;
//   text-align: center;
// }

// .img-r {
//   width: 300px;
//   height: 200px;
//   margin: 0 0 0 12px;
//   border: 1px solid black;
// }

// .img-l {
//   width: 200px;
//   height: 200px;
//   margin: 0 12px 0 0;
//   border: 1px solid black;
// }

// .margin-t {
//   margin: 36px 0 0 0;
//   height: 100px;
//   display: grid;
//   place-items: center;
//   border: 1px solid black;
// }

// .input-t {
//   margin: 0 18px 0 0;
//   height: 20px;
//   width: 100%;
//   text-align: center;
//   border: 1px solid black;
// }

// .fle {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   margin: 36px 0 0 0;
//   align-items: flex-start;
// }

// .btn {
//   width: 120px;
//   height: 20px;
// }

//0123練習 flex 下面

// .container {
//   height: 350px;
//   margin: auto;
//   border: 1px solid black;
//   display: flex;
//   justify-content: center;
//   align-items: end;
// }

// .test {
//   width: 100px;
//   height: 100px;
//   background-color: aqua;
//   transition:
//     width 0.8s ease,
//     height 0.8s ease;
//   &:hover {
//     width: 800px;
//     height: 350px;
//     border: 1px solid black;
//     background-color: rgb(15, 49, 105);
//   }
//   &:active {
//     width: 100px;
//     height: 100px;
//     border: 5px solid rgb(201, 0, 0);
//     background-color: rgb(24, 24, 24);
//   }
// }

// .square {
//   width: 100px;
//   height: 100px;
//   /* margin: 0 20px 0 0; */
//   transition: all 0.5s ease;
//   background-color: black;

//   &:hover {
//     width: 100px;
//     height: 200px;
//     transform: scale(1.5) rotate(10deg);
//     background-color: red;
//   }
//   &:active {
//     width: 100px;
//     height: 200px;
//     transform: scale(1.5) rotate(3600deg);
//     background-color: rgb(47, 44, 44);
//   }
// }
// .test2 {
//   border: 1px solid black;
//   height: 300px;
//   /* background-image: url("https://picsum.photos/200/300"); */
//   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQU9gEypv68a0doOUnXIt_g-D43fY8LCezSA&s");
//   background-position: right;
//   background-repeat: no-repeat;
//   background-size: contain;
// }

//------------------------------------------------------------
//0126
// .box {
//   width: 300px;
//   height: 300px;
//   border: 1px solid red;
// }
// .black-square {
//   width: 300px;
//   height: 300px;
//   background-color: #474a4d;
//   position: relative;
// }
// .orange-square{
//   width: 200px;
//   height: 200px;
//   background-color: #f7b977;
//   position:absolute;
//   top: 1.5px;
//   left: 100px;
// }
// .green-square{
//   width: 100px;
//   height: 100px;
//   background-color: #028760;
//   position:absolute;
//   top: 101.5px;
//   left: 100px;
// }
// .card {
//   width: 100px;
//   height: 20px;
//   background-color: red;
//   border-radius: 10px; /* 建議改用 px，25% 在這比例下會像扁掉的橢圓 */
//   position: relative;
// }

// .test {
//   position: absolute;
//   /* 1. 先推到容器的正中心點 */
//   top: 50%;
//   left: 50%;
  
//   /* 2. 關鍵：往回推文字自身寬高的一半，達成真正中心對齊 */
//   transform: translate(-50%, -50%);
  
//   /* 3. 修正：消除 p 標籤自帶的 margin 影響 */
//   margin: 0; 
  
//   color: white;
//   font-family: sans-serif;
// }


// 0126 履歷demo
body {
  margin: auto;
}
.cover-r {
  width: 100%;
  height: 50vh;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center;
}
.cover-l {
  width: 100%;
  height: 50vh;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center;
}
.cover_h1 {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 0;
  right: 400px;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 4.6em;
  z-index: 100;
}
.cover_h1_phone {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 0;
  // right: 400px;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 2.6em;
  z-index: 100;
  
}

.cover_h2 {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 400px;
  right: 0;
  margin: auto;
  color: red;
  text-align: center;
  font-size: 4.6em;
  z-index: 100;
  mix-blend-mode: overlay;
}

.cover_h2:hover {
  mix-blend-mode: initial;
  color: #d89c33;
}


