<!-- <style>
  table,
  th {
    border: 1px solid black;

  }

  table {
    border-collapse: collapse;
  }

  /* Flex 排版設定 */
  .container {
    display: flex;
    gap: 40px;
    /* 左右兩欄的間距 */
    max-width: 1000px;
    margin: 0 auto;
    /* 網頁居中 */
    padding: 20px;
  }

  .left-column,
  .right-column {
    flex: 1;
    /* 讓左右兩邊平分寬度 */
  }
</style>

<h1>HTML練習</h1>

<br>
<hr>
<textarea name="tex" id="tex">我是文字輸入框(可以拉大)</textarea>
<ul>
  <li><input type="text"></li>
  <li><input type="checkbox"></li>
</ul>
<ol>
  <li><input type="file" name="" id=""></li>
  <li><input type="radio" name="te" id="te"></li>
</ol>

<button>我是按鈕Button</button>
<br>
<hr>
<img src="https://picsum.photos/1500/200" alt="">
<br>
<hr>

<table>
  <thead>
    <th>姓名</th>
    <th>數學</th>
    <th>英文</th>
  </thead>
  <tbody>
    <tr>
      <th>小明</th>
      <th>92</th>
      <th>70</th>
    </tr>
    <tr>
      <th>大明</th>
      <th>95</th>
      <th>78</th>
    </tr>
  </tbody>

</table>

44

<div class="container">
  <div class="left-column">
    <h1>王大明</h1>
    <p>嗨，我是一個正在學習HTML的新手</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCXf8Upd6mHTvMGscOxbwpNKuOj6M5v8ATLQ&s" alt="">
    <br>
    <h1>關於我</h1>
    <p>我喜歡寫程式、看漫畫，還有玩電腦遊戲。</p>
    <h1>我的興趣</h1>
    <ul>
      <li>學習網頁設計</li>
      <li>打籃球</li>
      <li>旅行</li>
    </ul>
    <br>
  </div>
  <div class="right-column">
    <h1>聯絡我</h1>
    <p>Email:<a href="mailto:test@example.com">test&#64;example.com</a></p>
    <p>喜歡的網站: <a href="http://google.com" target="_blank">Google</a></p>
    <br>
    <h1>我的作品</h1>
    <table>
      <thead>
        <th>專案名稱</th>
        <th>簡介</th>
      </thead>
      <tbody>
        <tr>
          <th>個人名片網頁</th>
          <th>用純HTML做的第一個作品!</th>
        </tr>
        <tr>
          <th>帶完成的專案</th>
          <th>持續增加中...</th>
        </tr>
      </tbody>
    </table>
    <br>
    <h1>留言給我</h1>
    <form action="">
      <label for="name">姓名:</label>
      <input type="text" name="name" id="name">
      <br>
      <br>
      <label for="context">留言:</label>
      <textarea name="context" id="context"></textarea>
      <br>
      <button type="submit">送出</button>
    </form>
  </div>
</div> -->




<!-- <div class="container">
  <h1>登入系統</h1>
  <form action="">
    <div>
      <label for="account">帳號:</label>
      <input type="text" name="account" id="account" />
    </div>

    <br>
    <div>
      <label for="password">密碼:</label>
      <input type="password" name="password" id="password" />
    </div>

    <br>
    <button type="submit">送出</button>


  </form>
</div> -->

<!-- 練習一下面 0122-->
<!-- <div class="container">

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRymmjw-tl0zP-m2cCgfXWMRrMad3ywEhPd9Q&s" alt=""
    class="img-l">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUvHzbsDJXLAzhZUGk4sunE6XfMqwWeOUGKQ&s" alt=""
    class="img-r">
  <div class="margin-t">div</div>
  <div class="fle">
    <input class="input-t" type="text"/>

    <button class="btn">text</button>

  </div>
</div> -->

<!-- 練習0123 -->
<!-- <div class="container">
  <div class="test"></div>
  <div class="square"></div>
</div> -->

<!-- 上面 -->
<!-- <div class="  d-flex   justify-content-center" style="height: 80px;">
  <div class=" bg-danger d-flex justify-content-center  h-auto"  style="width: 80px;">test1</div>
  <div class=" bg-primary d-flex align-self-end ">test2</div>
  <div class=" bg-dark d-flex align-self-center ms-2 " style="color: aliceblue;">test3</div>
  <div class=" bg-success d-flex align-self-start ms-2">test4</div>
  <div class=" bg-danger d-flex justify-content-center  h-auto" style="width: 80px;">test5</div>
</div>-->
<!-- ----------------------------------------------------------------------------------------------- -->
<!-- 下面 -->
<!-- <div class="d-flex w-auto  mt-3 justify-content-center" style="height: 80px;">
    <div class=" bg-danger d-flex justify-content-center  h-auto" style="width: 80px;">test5</div>
    <div class=" bg-success d-flex align-self-start ">test4</div>
    <div class=" bg-dark d-flex align-self-center ms-2" style="color: aliceblue;">test3</div>
    <div class=" bg-primary d-flex align-self-end ms-2">test2</div>
    <div class=" bg-danger d-flex justify-content-center  h-auto" style="width: 80px;">test1</div>
</div>  -->
<!-- <div class="test2"></div> -->
<!-- 0123 -->
<!-- ------------------------------------------------------------------------------------------------ -->
<!-- 0126 -->
<!-- <div class="box">
  
    <div class="black-square"></div>
    <div class="orange-square"></div>
    <div class="green-square"></div>
  
  </div>
  <div class="card">
    <p class="test">x</p>
  </div> -->

<!-- 0126 履歷demo -->
<!-- <section id="topImg">
  <div class=" d-flex d-none d-md-block ">
    <img
      src="https://img.freepik.com/free-photo/fuji-mountain-kawaguchiko-lake-morning-autumn-seasons-fuji-mountain-yamanachi-japan_335224-102.jpg?semt=ais_user_personalization&w=740&q=80"
      alt="" class="cover-r img-fluid animate__animated animate__fadeIn ">
    <h1 class="cover_h1 animate__animated animate__flash">Welcome to </h1>

    <h2 class="cover_h2 animate__animated animate__flash">my resume</h2>
  </div>

  <div class=" d-flex d-block d-md-none ">
    <img
      src="https://img.freepik.com/free-photo/fuji-mountain-kawaguchiko-lake-morning-autumn-seasons-fuji-mountain-yamanachi-japan_335224-102.jpg?semt=ais_user_personalization&w=740&q=80"
      alt="" class="cover-r img-fluid  animate__animated animate__fadeIn ">
    <h1 class="cover_h1_phone animate__animated animate__flash">Welcome to my resume</h1>

  </div>
</section> -->
<!-- <br> -->
<!-- <section id="resume">
  <div class="container text-center">
    <h1 class="text-primary">Profile</h1>
    手機
    <img class="img-fluid d-block d-md-none"
      src="https://readme-typing-svg.demolab.com/?font=JetBrains+Mono&size=20&duration=3000&pause=1000&color=fffffff&center=true&width=500&lines=%E8%B5%B0%E5%BE%97%E5%A4%9A%E6%85%A2%E9%83%BD%E7%84%A1%E6%89%80%E8%AC%82%EF%BC%8C%E5%8F%AA%E8%A6%81%E4%BD%A0%E4%B8%8D%E5%81%9C%E4%B8%8B%E8%85%B3%E6%AD%A5%E3%80%82"
      alt="名言" />
    平板以上
    <img class="img-fluid d-none d-md-block"
      src="https://readme-typing-svg.demolab.com/?font=JetBrains+Mono&size=30&duration=3000&pause=1000&color=fffffff&center=true&width=1000&lines=%E8%A1%8C%E5%8B%95%E6%98%AF%E6%88%90%E5%8A%9F%E7%9A%84%E5%9F%BA%E7%A4%8E%EF%BC%8C%E6%B2%92%E6%9C%89%E8%A1%8C%E5%8B%95%EF%BC%8C%E4%B8%80%E5%88%87%E9%83%BD%E6%98%AF%E7%A9%BA%E8%AB%87%E3%80%82-+%E6%B4%9B%E5%85%8B%E8%8F%B2%E5%8B%92"
      alt="名言" />
    <hr>

    <div class="row align-items-center">
      Info
      <div class="col-12 col-md-6 text-center">
        <h1>Info.</h1>
        <ul style="padding: 0px; list-style-position: inside;">
          <li>姓名:張立杰</li>
          <li>年齡:23</li>
          <li>樹德科技大學資訊工程系畢業(2021~2025)</li>
          <li>Gmail: <a href="mailto:cklgy88@gmail.com">cklgy88&#64;gmail.com</a></li>
          <li><a href="https://github.com/ZhangZJ0906" target="_blank">作品集</a></li>
        </ul>
      </div>

      直線（只在桌機顯示）
      <div class="col-md-1 d-none d-md-block h-100">
        <div class="vr mx-3 bg-dark "></div>
      </div>

      About Me
      <div class="col-12 col-md-5 text-center">
        <h1>About Me</h1>
        <p>(假)我是一名熱愛寫程式的工程師，喜歡運用程式解決身邊的大小事。最近研究的領域有前後端。希望透過資工系所學的資訊，結合網頁技術解決現有的技術問題，做出真正貼近生活的應用。</p>
      </div>
    </div>
  </div>
</section> -->


<!-- <section id="skill" style="background-color: #6acece66;">
  <div class="container ">
    <h1 class="text-center p-5 text-danger">Skill</h1>
    手機
    <img class="img-fluid d-block d-md-none"
      src="https://readme-typing-svg.demolab.com/?font=JetBrains+Mono&size=20&duration=3000&pause=1000&color=FF9F43&center=true&width=500&lines=%E6%AF%8F%E5%A4%A9%E9%80%B2%E6%AD%A51%25%EF%BC%8C%E9%82%A3%E5%B0%B1%E6%98%AF%E6%88%90%E5%8A%9F%E3%80%82">

    平板以上
    <img class="img-fluid d-none d-md-block"
      src="https://readme-typing-svg.demolab.com/?font=JetBrains+Mono&size=30&duration=3000&pause=1000&color=FF9F43&center=true&width=1000&lines=%E4%BB%8A%E6%97%A5%E5%88%86%E5%88%86%E7%A7%92%E7%A7%92%E7%9A%84%E5%8A%AA%E5%8A%9B%EF%BC%8C%E5%B0%B1%E6%98%AF%E6%9C%AA%E4%BE%86%E9%BB%9E%E9%BB%9E%E6%BB%B4%E6%BB%B4%E7%9A%84%E6%94%B6%E7%A9%AB%E3%80%82">
    <hr>
    <div class="row">
      <div class="col-12 col-md-4"><img class="img-fluid animate__animated animate__fadeIn"
          src="https://farm7.static.flickr.com/6212/6330961581_47378d082e.jpg">
      </div>
      <div class="col-12 col-md-4 mt-4"><img class="img-fluid animate__animated animate__fadeIn"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS15BQsDaE-r8OpQjFMYpj3EW-rlxoyxddCw&s"></div>
      <div class="col-12 col-md-4 mt-4"><img class="img-fluid animate__animated animate__fadeIn"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8wh_vrysQFY_0CkcD-e-lYPPHLvsTaXqIGA&s"></div>

      <div class="col-12 col-md-4 mt-4"><img class="img-fluid animate__animated animate__fadeIn"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKvAz8bSMDxZvg1ZjElGs285z3WDhxMySLcA&s"></div>
      <div class="col-12 col-md-4 mt-4"><img class="img-fluid animate__animated animate__fadeIn"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAvcMH3_8jU5nbVwTLfaKPIYc-hZFB4jMYSQ&s"></div>
      <div class="col-12 col-md-4 mt-4"><img class="img-fluid animate__animated animate__fadeIn" src="https://miro.medium.com/0*IyLSPqJC97NmxjXB.png">
      </div>
    </div>

  </div>
</section> -->

<!-- 0128 -->
<section>
<button (click)="test('我超屌')">爛梗</button>
</section>
<router-outlet />